ion-content{
    --ion-background-color: #b3edff;
}

a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
}

ion-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 5%;
}

ion-button{
    margin: 5%;
}